.gradle/
*-merged.jar
*-mapped.jar
*-intermediary.jar
*.DS_Store
build/
out/
mappings_official/
namedSrc/

# idea
.idea/
*.iml
*.iws
*.ipr
*.jar

# eclipse
.eclipse
.classpath
.project
.settings/

# vscode
.vscode/
bin/
