name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        java: [16-jdk]
    runs-on: ubuntu-20.04
    container:
      image: openjdk:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - run: |
          wget https://maven.fabricmc.net/net/java/jdk/openjdk-17-ea%2B24_linux-x64_bin.tar.gz -O java.tar.gz
          tar -xf java.tar.gz -C ./java17
      - run: ./gradlew build javadocJar checkMappings --stacktrace -Porg.gradle.java.installations.paths=./java17
      - name: Build artifacts
        if: ${{ matrix.java == '15-jdk' }}
        continue-on-error: true
        uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: build/libs/
