name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        java: [21-jdk]
    runs-on: ubuntu-22.04
    container:
      image: eclipse-temurin:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - run: ./gradlew build javadocJar checkMappings --stacktrace --warning-mode fail
      - run: ./gradlew formatMappings --stacktrace --warning-mode fail
      - name: Check mapping format
        run: if [ -n "$(git status --porcelain)" ]; then exit 1; fi
      - name: Build artifacts
        if: ${{ matrix.java == '21-jdk' }}
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/

  test-build-logic:
    runs-on: ubuntu-22.04
    container:
      image: eclipse-temurin:21-jdk
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v2
      - run: ./gradlew :filament:build
