name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        java-version: [jdk8, jdk11, jdk15]
    runs-on: ubuntu-20.04
    container:
      image: openjdk:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v1
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew build javadocJar checkMappings --stacktrace
